@import "global";
@import "color";
@import "header";
@import "footer";

a {
    text-decoration: none;
    padding: 5px;
    border: .5px solid black;
    border-radius: 5px;
    background-color: beige;
    color: black;
    font-weight: bold;
    &:hover {
        color: white;
        background-color: black;
    }
}

p {
    font-size: 13px;
    margin-bottom: 50px;
}